MARKETLAB_API_HOST=0.0.0.0
MARKETLAB_API_PORT=8080
MARKETLAB_ALLOW_CONTAINER_WILDCARD_BIND=true
MARKETLAB_API_TOKEN=replace-with-at-least-32-random-characters
MARKETLAB_DATABASE_URL=jdbc:postgresql://marketlab-postgres:5432/marketlab
MARKETLAB_DATABASE_USER=marketlab_api
MARKETLAB_DATABASE_PASSWORD=replace-with-a-distinct-api-password
MARKETLAB_DATABASE_POOL_SIZE=10
MARKETLAB_DATABASE_MIN_IDLE=1
MARKETLAB_DATABASE_MIGRATE=false
MARKETLAB_EXPOSE_ERROR_DETAILS=false
MARKETLAB_SOCIAL_RAW_ROOT=/mnt/media/marketlab/raw/public-information
MARKETLAB_SENTIMENT_FEATURE_ROOT=/mnt/stack/marketlab/social-features
MARKETLAB_SOCIAL_UNIVERSE_ROOT=/mnt/stack/marketlab/social-universe
MARKETLAB_SENTIMENT_MODEL_LOCK=/mnt/stack/marketlab/models/sentiment-models.lock.json
