MARKETLAB_COORDINATOR_ID=gerald-ingestion-1
MARKETLAB_RAW_DATA_ROOT=/mnt/media/marketlab/raw
MARKETLAB_ACTIVE_ARTIFACT_ROOT=/mnt/stack/marketlab/active-artifacts
MARKETLAB_COORDINATOR_LEASE_MS=120000
MARKETLAB_COORDINATOR_HEARTBEAT_MS=30000
MARKETLAB_COORDINATOR_POLL_MS=1000
MARKETLAB_COORDINATOR_REAP_MS=30000
MARKETLAB_COORDINATOR_RETRY_MS=15000
MARKETLAB_DEFAULT_CANDLE_INTERVAL=1h
MARKETLAB_MAX_INGESTION_DAYS=3650
MARKETLAB_DATABASE_URL=jdbc:postgresql://marketlab-postgres:5432/marketlab
MARKETLAB_DATABASE_USER=marketlab_coordinator
MARKETLAB_DATABASE_PASSWORD=replace-with-a-distinct-coordinator-password
MARKETLAB_DATABASE_POOL_SIZE=4
MARKETLAB_DATABASE_MIN_IDLE=1
MARKETLAB_DATABASE_MIGRATE=false
