MARKETLAB_RUNNER_HOST=127.0.0.1
MARKETLAB_RUNNER_PORT=8081
MARKETLAB_RUNNER_TOKEN=replace-with-the-runner-token
MARKETLAB_JOBS_ROOT=/mnt/stack/marketlab/jobs
MARKETLAB_PODMAN=/usr/bin/podman
CONTAINERS_STORAGE_CONF=/home/gerald/.config/marketlab/storage.conf
