MARKETLAB_SOCIAL_RAW_ROOT=/mnt/media/marketlab/raw/public-information
MARKETLAB_SOCIAL_FARCASTER_ENABLED=false
MARKETLAB_SOCIAL_FARCASTER_EVENTS_URI=http://marketlab-snapchain:3381/v1/events
MARKETLAB_SOCIAL_MAX_SEGMENT_BYTES=67108864
MARKETLAB_SOCIAL_MAX_SEGMENT_MILLIS=900000
MARKETLAB_SOCIAL_QUEUE_CAPACITY=1024
MARKETLAB_SOCIAL_MAX_FRAME_BYTES=4194304
MARKETLAB_SOCIAL_POLL_MILLIS=300000
MARKETLAB_SOCIAL_UNIVERSE_REFRESH_MILLIS=3600000
